**/Debug
**/Release
**/Debug/*
**/Release/*
**/.settings
**/.settings/*
**/.xdchelp
**/.config
**/.config/*
**/.launches
**/.launches/*
**/targetConfigs
**/targetConfigs/*
dvt
dvt/*
.jxbrowser.userdata
.jxbrowser.userdata/*
.metadata
.metadata/*
.tempFiles
.tempFiles/*